* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: hsl(199, 80%, 89%);
}

.Grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(var(--column-count, 1), 1fr);
  max-width: 60rem;
  margin: auto;
  padding: 3rem;
}

@media (min-width: 40rem) {
  .Grid {
    --column-count: 2;
  }
}
.Card {
  padding: 1rem;
  border-radius: 3rem;
  background-color: #fff;
  color: darkblue;
}

.Card-header {
  border-bottom: 1px dotted darkblue;
}
.Card-media {
    margin: 0;
}

.Card-media img {
    display:block;
    width: 50%;
    margin: 1rem auto;
}